{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>正解ページ</title>
    <link href="{% static 'accounts/css/login1.css' %}" rel="stylesheet">
    <meta charset="UTF-8"></head>
  <body>
    <h2>正解!</h2>
    <img src = 'https://1.bp.blogspot.com/-NAu4cRevEbE/XWS5yEI290I/AAAAAAABUXE/rAFuyoWP94kjehBxqO7gcXskQMsLLcCngCLcBGAs/s180-c/pose_dance_ukareru_woman.png' alt="やったー">
    <hr>
    <p>
      <a href = "{% url 'quiz' subject.id %}">問題一覧に戻る</a><br>
      <a href = "{% url 'home' %}">教科一覧に戻る</a>
    </p>
  </body>
</html>