{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>正解画面</title>
    <link href="{% static 'accounts/css/login5.css' %}" rel="stylesheet">
    <meta charset="UTF-8"></head>
  <body>
    <h2>正解!</h2>
    <img src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAs0jTExPClwilZiCdfzw7uXrX__INo21AqQ&usqp=CAU' alt="パワー!">
    <hr>
    <p>
      <a href = "{% url 'quiz' subject.id %}">問題一覧に戻る</a>
      <a href = "{% url 'home' %}">教科一覧に戻る</a>
    </p>
  </body>
</html>