{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>問題詳細ページ</title>
    <link href="{% static 'accounts/css/login1.css' %}" rel="stylesheet">
    <meta charset="UTF-8"></head>
  <body>
    <h3>教科名: {{ quiz.value }}</h3>
    <h3>問題: {{ quiz.question }}</h3>
    <h3>答え: {{ quiz.answer }}</h3>
    <hr>
    <p>
      <a href = "{% url 'quiz' subject.id %}">戻る</a>
      <a href = "{% url 'ud' subject.id quiz.id %}">変更</a>
      <a href = "{% url 'dl' subject.id quiz.id %}">削除</a>
    </p>
  </body>
</html>