{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>問題作成ページ</title>
    <link href="{% static 'accounts/css/login1.css' %}" rel="stylesheet">
  </head>
  <body>
  <h1>Create question</h1>
  <form action = "{% url 'make' subject.id%}" method = "post">
    {% csrf_token %}

    <label for = "titleInput">問題</label>
    <input id = "questionInput" name = "question" type = "text" placeholder = "問題を入力してください"><br>

    <label for = "titleInput">解答</label>
    <input id = "answerInput" name = "answer" type = "text" placeholder = "解答を入力してください"><br>

    <button type = "submit">作成する</button>
  </form>
  </body>
</html>