{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Card</title>
    <meta charset="UTF-8">
    <link href="{% static 'authtest/css/paper.css' %}" rel="stylesheet">
  </head>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="content">
  <body>
    <form action="{% url 'paper' %}" method="post">
      {% csrf_token %}
      <div id="make_card">
        <label class="label-1" for="problemInput">問題</label><br>
        <input id="problemInput" name="problem" type="text" placeholder="Input problem">
      </div>
      <div>
        <label class="label-2" for="answerInput">解答</label><br>
        <textarea id="answerInput" name="answer" rows="3" placeholder="Input answer"></textarea>
      </div>
      <div>
        <button type="submit">作成</button>
      </div>
    </form>

    <br>

    {% if cards %}
    {% for card in cards %}
    <div id="card">
      <a href="{% url 'paper_detail' card.id %}"> {{ card.problem }}</a>
    </div>
    {% endfor %}
    {% else %}
    <p>No questions</p>
    {% endif %}

    <br>

    <a href="{% url 'home' %}">科目選択画面に戻る</a>
  </body>
  </div>
</html>