{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'accounts/css/login2.css' %}" rel="stylesheet">
  </head>
  <body>

    <h1>問題</h1>
    <h2>{{ quiz.question }}</h2>
    <form action = "{% url 'ex' subject.id quiz.id%}" method = "post">
      {% csrf_token %}
      <label for = "titleInput">解答</label>
      <input id = "answerInput" name = "answer" type = "text" placeholder = "解答を入力してください">
      <button type = "submit">解答する</button>
    </form>
  </body>
</html>