{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ログインページ</title>
    <link href="{% static 'accounts/css/login5.css' %}" rel="stylesheet">
  </head>

  <body>
  <div class="context">
    <h1>LoginPage</h1>
    {% if form.errors %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="anime_test" type = "submit" value = "Login" />
    </form>

    <a class="anime_test" href = "{% url 'new' %}">アカウント新規作成</a>

    <br>

    <a class="anime_test" href = "{% url 'home' %}">ホームに戻る</a>
    </div>
  </body>
</html>